extends layout

block content  
  .textzone
    p Drag the tiles to reveal answers.
  .dragzone_q1
    #1.dragme_1
    .left
      p For practical purposes my favorite language is C#. I know it top to bottom. For more of a fiddle around kind of thing, I enjoy javascript.
    .right
      p What is your favorite programming language, and why?
  .dragzone_q2
    .dragme_2
    .left
      p Tabs. Most current IDEs cover this area automatically, but from my earlier days tabs are just easier.
    .right
      p Tabs or spaces, and why?
  .dragzone_q3
    .dragme_3
    .left
      p Yes, though I'm more of a bitbucket guy. <a href='https://github.com/tpund'>My GitHub</a>.
    .right
      p Do you have a GitHub account?
  .dragzone_q4
    .dragme_4
    .left
      p JavaScript Object Notation
    .right
      p What does JSON stand for?
  .easterEgg
      img.image(src='/images/PIE.gif')